<div class="container" style="margin-bottom: 5%">
  <div class="card" *ngFor="let film of films">
    <a routerLink="/film/{{ film.id }}">
      <img class="card-img-top" style="height: 20%; width: 20%; margin: 2%" src="{{ film.posterURL }}" alt="">
    </a>
    <div class="card-body" style="display: inline-block">
       <h5 class="card-title">{{ film.name }}</h5>
       <p class="card-text">
          {{ film.description }}
       </p>
       <div class="btn-group" role="group" aria-label="Basic example" *ngIf="accountService.isAdmin()">
        <a routerLink="/editfilm/{{film.id}}" class="btn btn-primary">Edit</a>
        <button class="btn btn-primary" (click)="delete(film.id)">Delete</button>
     </div>    </div>
  </div>

<p-paginator [rows]="getLimit()" [totalRecords]="getCount()" (onPageChange)="paginate($event)"></p-paginator>
