<div class="container" style="margin-bottom: 5%">
  <div class="card" *ngFor="let film of films">
    <a routerLink="/film/{{ film.id }}">
      <img class="card-img-top" style="height: 30%; width: 30%; margin: 2%" src="https://avatars.mds.yandex.net/get-pdb/477388/a887cad8-bfa9-4071-baef-789a8805f37e/s1200?webp=false" alt="">
    </a>
    <div class="card-body" style="display: inline-block">
       <h5 class="card-title">{{ film.name }}</h5>
       <p class="card-text">
          {{ film.description }}
       </p>
       <a *ngIf="accountService.isAdmin()" routerLink="/editfilm/{{film.id}}" class="btn btn-primary">Edit</a>
    </div>
  </div>

<p-paginator [rows]="getLimit()" [totalRecords]="getCount()" (onPageChange)="paginate($event)"></p-paginator>
