<div class="container" style="widows: 100vw;">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <form [formGroup]="form">
          <label> Raiting </label>
          <input formControlName="raiting"
            placeholder="raiting"
            [ngClass]="{'error': !isRaitingValid()}" 
            class="form-control" 
            type="text" 
            name="raiting"
            autocomplete="off">
          <div [hidden]="isRaitingValid()" class="error-msg">Invalid range</div>
          
          <label> Year </label>
          <input formControlName="year"
            placeholder="year"
            [ngClass]="{'error': !isYearValid()}" 
            class="form-control" 
            type="text" 
            name="raitingMin" 
            autocomplete="off">
          <div [hidden]="isYearValid()" class="error-msg">Invalid year</div>
          
          <label> Name </label>
          <input formControlName="name"
          placeholder="name"
          class="form-control" 
          type="text" 
          name="name" 
          autocomplete="off">

          <div class="ganres">
            <div *ngFor="let genre of genres" 
            (click)="selectGenre(genre)" 
            class="genre genre-not-selected disable-text-selection" 
            [ngClass]="{ 'genre-selected': ifgenreSelected(genre) }">
              <span class="tag tag-default"                                  
              >{{ genre }}</span>
            </div>
          </div>
          
          <br>         
          <button class="form-control" (click)="onSubmit()">Search</button>          
      </form>
     
    </div>
    <div class="col-xs-12 col-md-8">
      
        <div class="container" style="margin-bottom: 5%">
            <div class="card" *ngFor="let film of films">
              <a routerLink="/film/{{ film.id }}">
                <img class="card-img-top" style="height: 10%; width: 15%; margin: 2%" src="{{ film.posterURL }}" alt="">
              </a>
              <div class="card-body" style="display: inline-block">
                 <h5 class="card-title">{{ film.name }}</h5>
                 <p class="card-text">
                    {{ film.description }}
                 </p>
                 <div class="btn-group" role="group" aria-label="Basic example" *ngIf="accountService.isAdmin()">
                   <a routerLink="/editfilm/{{film.id}}" class="btn btn-primary">Edit</a>
                   <button class="btn btn-primary" (click)="delete(film.id)">Delete</button>
                </div>
              </div>
            </div>
            
          <p-paginator *ngIf="getCount() > 0; else notFound" 
            [style]="{width: '75%'}" [rows]="getLimit()" 
            [totalRecords]="getCount()" 
            (onPageChange)="paginate($event)">
          </p-paginator>
          <ng-template #notFound>
            <h1>Not Found</h1>
          </ng-template>
    </div>
  </div>
</div>