<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
  
	  <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}"><a style="cursor: pointer;">Home</a></li>
			<li routerLinkActive="active" routerLink="/films" [routerLinkActiveOptions]="{exact: true}"><a style="cursor: pointer;">Films</a></li>
			<li *ngIf="accountService.isAdmin()" routerLinkActive="active" routerLink="/createfilm"><a style="cursor: pointer;">Create Film</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <ng-template [ngIf]="!accountService.isAuthenticated()" [ngIfElse]="loggedOut">
			<li class="nav-item"><a routerLink="/signup">Register</a></li>
			<li class="nav-item"><a routerLink="/signin">Login</a></li>
		  </ng-template>
			<ng-template #loggedOut>
				<li>
					<a
						style="cursor: pointer;">{{ accountService.getEmail() }}</a>
				</li>
				<li>				
					<a
						style="cursor: pointer;"
						(click)="accountService.logout()">Logout</a>
				</li>
			</ng-template>
		</ul>
	  </div>
	</div>
</nav>
	




<router-outlet></router-outlet>
