<div class="container" style="margin-bottom: 5%">
  <div class="card">
    <div class="card-header">
      {{ film.name }}
    </div>
    <div>
      <img class="card-img-top" style="height: 50%; width: 50%; margin: 2%" 
        src="https://avatars.mds.yandex.net/get-pdb/477388/a887cad8-bfa9-4071-baef-789a8805f37e/s1200?webp=false">
    </div>
    <div class="card-body">
      <p class="card-text">{{ film.description }}</p>
      <a routerLink="/" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>