<div class="container" style="margin-bottom: 5%">
  <div class="card">
    <div class="card-header">
      {{ film.name }}
    </div>
    <div>
      <img class="card-img-top" style="height: 30%; width: 30%; margin: 2%" src="{{ film.posterURL }}" alt="">
    </div>
    <div class="card-body">
      <p class="card-text">{{ film.description }}</p>
      <a routerLink="/" class="btn btn-primary">Back</a>
    </div>
  </div>
  <br>
  <hr>

  <p-panel>
    <p-header>
      {{ getUserName() }} |
      <span style="font-size: 60%; text-align: left; margin-left: 5px;">
        {{ getDate() | date }}
      </span>
    </p-header>
    <textarea #comment class="form-control" type="area" style="border-radius: 0; width:100%; min-width: 100%; max-width: 100%"></textarea>
    <p-footer>
        <button type="button" class="btn btn-success" (click)="onSendComment(comment.value)">Add</button>
    </p-footer> 
  </p-panel>
  
  <br>
  <br>
  <ng-container *ngFor="let comment of film.comments">
    <p-panel>
      <p-header>
        {{ comment.userName }} |
        <span style="font-size: 60%; text-align: left; margin-left: 5px;">
          {{ comment.date | date }}
        </span>
      </p-header>
        {{ comment.description }}
    </p-panel>
    <br>
  </ng-container>
</div>



